<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row>
      <ion-col>
        <iframe width="100%" height="180" src="https://www.youtube.com/embed/QSX3mMVE9GI?muted=1&controls=1" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://us.123rf.com/450wm/dolgachov/dolgachov1703/dolgachov170302013/74164259-concepto-de-deporte-fitness-estilo-de-vida-y-la-gente-feliz-hombre-y-mujer-deportiva-con-botellas-de.jpg?ver=6">
          </ion-avatar>
          <ion-label>
            <h3 class="title-center"> <strong> A sudar se dijo!</strong></h3>
            <p class="title-center">Hace 20 minutos by <b>@Usuario</b> </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row>
      <ion-col>
        <iframe width="100%" height="180" src="https://www.youtube.com/embed/s03xvnpzxWs?muted=1&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://image.freepik.com/foto-gratis/culturista-joven-que-hace-levantamiento-pesas-gimnasio_3179-88.jpg">
          </ion-avatar>
          <ion-label>
            <h3 class="title-center"> <strong> A sudar se dijo!</strong></h3>
            <p class="title-center">Hace 400 minutos by <b>@Usuario</b> </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row>
      <ion-col>
        <iframe width="100%" height="180" src="https://www.youtube.com/embed/VFPEjSxUyKg?muted=1&controls=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrQZpv_492OaU92DlSq8NAKK3Sf11-Nd0tMg&usqp=CAU">
          </ion-avatar>
          <ion-label>
            <h3 class="title-center"> <strong> A sudar se dijo!</strong></h3>
            <p class="title-center">Hace 90 minutos by <b>@Usuario</b> </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>